.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.item {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #999;
  padding: 0 0.8rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;

  & > span {
    min-width: 1.3rem;
    height: 1.3rem;
    border-radius: 5px;

    &[data-type="TASK"] {
      background-color: green;
    }
    &[data-type="STORY"] {
      background-color: orange;
    }
  }

  & > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & > b {
      font-size: small;
      margin-top: 3px;
    }
  }
}

.drag {
  &:active {
    opacity: 0.1;
    cursor: grab;
  }
}
