.header {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  & > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* flex-direction: column; */
    cursor: pointer;
    padding: 0px;
    margin: 0px;

    & > li {
      border: 1px solid #aaa;
      /* writing-mode: vertical-lr; */
      padding: 10px;
    }
  }
}

.grid {
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  background-color: white;
  padding: 0 0.8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px #ddd;

  & > dialog::backdrop {
    background-color: #000;
    opacity: 0.4;
  }

  &:has([data-priority="CRITICAL"]) {
    border: 1px solid red;
  }

  &:has([data-priority="BLOCKER"]) {
    border: 2px solid black;
  }

  & > p:nth-of-type(2) {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    color: #555;

    & > span {
      background-color: #bc73732b;
      padding: 3px 6px;
    }
  }

  & > div > p > span {
    padding: 5px;
    margin-right: 5px;
    width: max-content;

    &[data-start] {
      background-color: #0080001b;
      color: #008000;

      &::before {
        content: " \2191";
      }
    }

    &[data-end] {
      background-color: #ff00001b;
      color: red;

      &::before {
        content: " \2193";
      }
    }
  }

  & > p:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      display: flex;
      gap: 0.6rem;
      align-items: center;

      & [data-priority] {
        font-size: xx-large;

        /* &::before {
          content: "\21D5";
        } */

        &[data-priority="BLOCKER"] {
          color: black;

          &::after {
            content: "\2191\2191\2191";
          }
        }

        &[data-priority="CRITICAL"] {
          color: red;

          &::after {
            content: " \21C8";
          }
        }

        &[data-priority="HIGH"] {
          color: red;

          &::after {
            content: " \2191";
          }
        }

        &[data-priority="MEDIUM"] {
          color: orange;

          &::after {
            content: " \003D";
          }
        }

        &[data-priority="LOW"] {
          color: #ccc;

          &::after {
            content: " \21CA";
          }
        }

        &[data-priority="TRIVIAL"] {
          color: #ccc;

          &::after {
            content: " \2193";
          }
        }
      }

      &[data-type] {
        &::before {
          content: "\2609";
          font-size: xxx-large;
          margin-top: -4px;
        }

        &[data-type="STORY"] {
          &::before {
            color: red;
          }
        }
        &[data-type="TASK"] {
          &::before {
            color: green;
          }
        }
        &[data-type="BUG"] {
          &::before {
            color: orange;
          }
        }
      }

      & > img {
        width: 1.6rem;
        height: 1.6rem;
        background-color: #ccc;
      }
    }
  }
}

.drag {
  &:active {
    opacity: 0.1;
    cursor: grab;
  }
}
