.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
}

.statusList {
  /* flex: 1; */
  display: flex;
  justify-content: end;

  & > ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    cursor: pointer;
    padding: 0px;
    margin: 0px;

    & > li {
      border: 1px solid #aaa;
      writing-mode: vertical-lr;
      padding: 10px;
    }
  }
}

.card {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #999;
  padding: 0.8rem;
  text-align: left;
  display: flex;
  flex-direction: column;

  & > div:first-of-type > span {
    padding: 0.1rem;
    width: max-content;
    font-size: small;

    &[data-priority="HIGH"] {
      background-color: coral;
    }
    &[data-priority="MEDIUM"] {
      background-color: orange;
    }
    &[data-priority="LOW"] {
      background-color: green;
    }
    &[data-priority="TRIVIAL"] {
      background-color: grey;
    }
    &[data-priority="CRITICAL"] {
      background-color: red;
    }
    &[data-priority="BLOCKER"] {
      background-color: black;
    }
  }

  & > div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      display: flex;
      gap: 0.5rem;

      & > span:first-of-type {
        width: 1rem;
        height: 1rem;
        border-radius: 5px;

        &[data-type="TASK"] {
          background-color: green;
        }
        &[data-type="STORY"] {
          background-color: orange;
        }
      }
    }

    & > img {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
    }
  }
}

.drag {
  &:active {
    opacity: 0.1;
    cursor: grab;
  }
}
