:root {
  --color-light: black;
  --color-dark: white;
  --bg-light: white;
  --bg-dark: black;

  &[data-theme="light"] {
    background-color: var(--bg-light);
    color: var(--color-light);
  }

  &[data-theme="dark"] {
    background-color: var(--bg-dark);
    color: var(--color-dark);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;

  & > header > ul {
    display: flex;
    gap: 1em;
    list-style-type: none;

    & > li:last-child {
      display: flex;
    }
  }

  & > main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.loading {
  animation: pulse 1s infinite;
  width: 5em;
  height: 5em;
  background-color: blue;
  border-radius: 50%;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
}
